ul {
    li {
        margin-bottom: 0px !important;
        a {
          
            border: none !important;
            
            background-color: #f2f4f8 !important;
        }
    }
}
th{
    font-weight: bold;
    font-size: 13px !important;
}
td {
    a{
        color: blue !important;
        font-weight: initial;
        cursor: pointer;
    }
}

.element-wrapper {
    max-width: 800px;
    margin: auto;
}
.image-invoice {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    img {
        width: 50px;
    }
    
}
.company-infor {
    text-align: right;
}
.code {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    table {
        border: none !important;
    }
}

.content-box {
    margin-top: 50px !important;
}
.modal-invoice {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    background: #0000005e;
}
.close {
    margin-right: 10px;
}
.element-box {
    margin: 5px;
}
.zoom{
    transition: transform .2s; /* Animation */
    margin: 0 auto;
    :hover{
      transform: scale(4); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }
}
.modal-order{
    td{
        p{
            margin-top: 13px;
        }
    }
}
.button-modal{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    button{
        margin-right: 30px;
        font-size: 18px;
        font-weight: bold;
    }
}
.modal-scroll{
    max-height: 600px;
    overflow: auto;
}
/* width */
::-webkit-scrollbar {
width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1; 
border-radius: 10px !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888; 
}
.table-records-pages {
font-size: 18px;
ul{
    li{
    a{
        color: blue;
        cursor: pointer;
    }
    }
}
}

.show-quantity{
    max-width: 70px;
}
.padding-p{
    padding-right: 15px;
}